@font-face {
    font-family: hero;
    src: url('/sf_fedora/SF Fedora.tff');
}
.hero {
    background-color: #590487;
    text-align: center;
}
.title {
 font-family: hero;
 font-weight: bold;
 letter-spacing: 4px;
}
.title, .subtitle {
    color: #E8AB33;
}