.column {
  margin-top: 20px;
  padding: 0;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.jojo {
  height: 100%;
  width: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background-color: white;;
}
.jojo:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 420px) {
  .column {
      margin-top: 0;
  }
}
