.column {
  margin-top: 20px;
  padding: 0;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.jojo {
  height: 100%;
  width: auto;
}
@media (max-width: 420px) {
  .column {
      margin-top: 0;
  }
}
