@font-face {
    font-family: jojos;
    src: url('/sf_fedora/SF Fedora Titles Italic.tff');
}
html,body{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    padding-top: 78px;
    background-image: url('./images/pattern.png');
    background-size: cover;
    background-position: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.navbar {
    background-color: #590487;
    color:#E8AB33;
}
.brand-img {
    height: 70px;
}
.brand-name {
    font-family: jojos;
    font-size: 40px;
    letter-spacing: 6px;
}